
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="acati-resource">
    <template>
        <iron-ajax
            auto
            url="http://localhost:3000/acati"
            handle-as="json"
            on-response="handleResponse"
            debounce-duration="300"></iron-ajax>
    </template>

    <script>
		Polymer({
			is: 'acati-resource',
            properties: {
			    workers: {
			    	type: Array,
					notify: true
				}
            },
			handleResponse: function (data) {
				this.workers = data.detail.response;
			}
		});
    </script>
</dom-module>
