
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">

<dom-module id="acati-worker">
    <template>
        <style include="shared-styles">
            .card {
                display: flex;
                flex-wrap: wrap;
            }

            #acati-portrait {
                height: 202px;
                width: 185px;
                background-position: 50% 50%;
                display: inline-block;
                flex: 0 0 185px;
            }

            .acati-info {
                margin-left: 20px;
                flex: 3;
            }

            @media only screen and (max-width: 760px) {
                .card {
                    justify-content: center;
                }

                .showOnBigScreen {
                    display: none;
                }
            }
        </style>

        <div class="card">
            <div id="acati-portrait"></div>
            <div class="acati-info">
                <h1>[[name]]</h1>
                <p>[[position]]</p>
                <p class="showOnBigScreen"><b>Is fan van</b> [[isfanof]]</p>
                <p class="showOnBigScreen"><b>Blinkt uit in</b> [[excelsin]]</p>
            </div>
        </div>
    </template>

    <script>
		Polymer({
			is: 'acati-worker',
            interval: undefined,
			properties: {
				portrait: String,
			    name: String,
                position: String,
				isfanof: String,
                excelsin: String
            },
            ready() {
				this.$['acati-portrait'].style.backgroundImage = `url('${this.portrait}')`;
				this.interval = setInterval(this.changePortrait.bind(this), 1000);
            },
			detached() {
			    if (!this.interval) return;

			    clearInterval(this.interval);
            },
            changePortrait() {
				const portraits = [0, 50, 100];
				const actualPosition = this.$['acati-portrait'].style['background-position'];
				let position = actualPosition;

				do {
					const width = portraits[Math.floor(Math.random() * 3)];
					const height = portraits[Math.floor(Math.random() * 3)];
					position = `${width}% ${height}%`;
                } while(position == actualPosition);

				this.$['acati-portrait'].style['background-position'] = position;
            }
		});
    </script>
</dom-module>
