
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./acati-worker.html">
<link rel="import" href="./acati-resource.html">
<link rel="import" href="shared-styles.html">

<dom-module id="acati-workers-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <acati-resource workers="{{workers}}"></acati-resource>

    <template is="dom-repeat" items="[[workers]]">
      <acati-worker
              portrait={{item.portrait}}
              name={{item.name}}
              position={{item.position}}
              isFanOf={{item.isFanOf}}
              excelsIn={{item.excelsIn}}
      ></acati-worker>
    </template>
  </template>

  <script>
    Polymer({
      is: 'acati-workers-view'
    });
  </script>
</dom-module>
