
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      paper-button {
        margin: 3vh 0 0 0;
      }
      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
      }

      paper-button.grey {
        background-color: var(--paper-grey-500);
        color: white;
      }
*
    </style>

    <div class="card">
      <form is="iron-form" action="/contact" method="post" id="contactForm">
        <paper-input required label="Email" name="email" on-keypres="lol" error-message="Must be a valid email" auto-validate pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"></paper-input>
        <paper-textarea label="autoresizing textarea input"></paper-textarea>
        <paper-button raised class="grey" on-tap="submitForm" disabled>Send</paper-button>
      </form>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-view2',
      ready() {
		  this.$.contactForm.addEventListener('change', function() {
			  console.log('loooooooooooool')
		  });
      },
      submitForm() {
		  //console.log(this.$.email.validate())
		  //console.log(this.$.email.required)
		  console.log(this.$.contactForm.serialize())
		  console.log(this.$.contactForm.validate())
		  this.$.contactForm.submit();
      },
      lol() {
      	console.log('lol');
      }
    });
  </script>
</dom-module>
